.container {
    overflow: hidden;
    /* display: inline-block; */
    white-space: nowrap;
    /* height: 100px; */
    border: 1px solid red;
}
.parent {
    display: inline-block;
    animation: 5s primary infinite linear;
}
.item {
    height: 100px;
    width: 70px;
}

@keyframes primary {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
