.slider {
    /* height: 150px; */
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* border: 1px solid red; */
}
.slideTrack {
    display: flex;
    width: calc(100px * 18);
    /* calc(image height * number of items */
    animation: scroll 40s linear infinite;
}
.slide {
    height: 100px;
    width: 250px;
    display: flex;
    padding: 0px 10px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 9));
        /* calc(image height * number of items/2 */
    }
}
